<div class="w-full grow  flex flex-col justify-start items-center gap-4">
    <div class="w-full h-auto flex flex-row justify-between items-center">
        <h1 class="w-auto h-auto text-lg text-black font-medium">Today's Schedule</h1>
        <p class="w-auto h-auto text-end text-sm font-medium text-[#4F27C6] hover:cursor-pointer">See all</p>
    </div>
    <div class="w-full grow grid grid-cols-2 gap-4">
        <div class="w-full grow flex flex-col justify-center items-center gap-3">
            <img src="team2.jpg" class="w-full grow rounded-lg object-cover bg-[#F3EEFF]" alt="team"/>
            <div class="w-full h-auto flex flex-col justify-start items-start gap-1">
                <h1 class="w-full h-auto text-start text-sm font-normal text-balck">Meeting with Client</h1>
                <p class="w-full h-auto text-start text-xs font-normal text-zinc-400">Zoom Meeting - 9:30pm</p>
            </div>

        </div>
        <div class="w-full grow flex flex-col justify-center items-center gap-3">
            <img src="team2.jpg" class="w-full grow rounded-lg object-cover bg-[#F3EEFF]" alt="team"/>
            <div class="w-full h-auto flex flex-col justify-start items-start gap-1">
                <h1 class="w-full h-auto text-start text-sm font-normal text-balck">Meeting with Client</h1>
                <p class="w-full h-auto text-start text-xs font-normal text-zinc-400">Zoom Meeting - 9:30pm</p>
            </div>
        </div>
    </div>
</div>
