<div class="w-full h-auto flex flex-col justify-center items-center gap-4">
    <h1 class="w-full h-auto text-start text-lg font-medium ">Team Members</h1>
    <div class="w-full h-auto flex flex-row justify-between items-center">
        <div id="teamMembersConatiner" class="w-[calc(100%-48px)] h-auto flex flex-row justify-start items-center overflow-scroll">
            <div class="w-auto h-auto flex flex-row justify-center items-center gap-5 ">
                <div class="w-9 h-9 rounded-full bg-gradient-to-tr from-[#FF4E8E] to-[#F78266]"></div>
                <div class="w-9 h-9 rounded-full bg-gradient-to-tr from-[#FF4E8E] to-[#F78266]"></div>
                <div class="w-9 h-9 rounded-full bg-gradient-to-tr from-[#FF4E8E] to-[#F78266]"></div>
                <div class="w-9 h-9 rounded-full bg-gradient-to-tr from-[#FF4E8E] to-[#F78266]"></div>
            </div>
        </div>
        <div class="w-10 h-10 rounded-full flex flex-col justify-center items-center border border-dashed border-black hover:cursor-pointer">
            <lucide-angular [img]="PlusIcon" size="25" class=" text-black group-hover:text-white" ></lucide-angular>
        </div>
    </div>
</div>
