<div class="group w-full h-auto flex flex-col justify-between items-start  hover:cursor-pointer">
    <div class="w-full h-auto flex flex-row justify-start items-center gap-4">
        <div class="w-8 h-8 rounded-full  bg-gradient-to-tr from-[#FF4E8E] to-[#F78266]"></div>
        <h1 class="w-auto h-auto text-start text-lg font-semibold text-zinc-700 truncate ">
            Surya Vamsi
        </h1>
    </div>
    <div class="w-full h-auto ps-[48px] flex flex-col justify-start items-start gap-1 overflow-hidden">
        
        <p class="w-full h-auto text-base font-medium text-zinc-500 truncate">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus commodi mollitia repudiandae tempore veniam? Commodi, eius nostrum laboriosam voluptate obcaecati minus architecto ipsum molestias ut aperiam quia, incidunt reprehenderit qui.
        </p>
        <!-- <p class="w-full h-auto hidden text-lg text-blue-500 font-medium group-hover:block transition-all duration-150">Replay</p> -->
    </div>
    
</div>
