<div class="w-full h-auto flex flex-row justify-between items-center">
    <div class="w-auto h-auto relative">
        <div class="absolute -top-[2px] right-[2px] w-[10px] h-[10px] rounded-full bg-gradient-to-tr from-[#FF4E8E] to-[#F78266]"></div>
        <lucide-angular [img]="BellIcon" size="25" class=" text-[#7B7790] group-hover:text-white" ></lucide-angular>
    </div>
    <div class="w-auto h-auto flex flex-row justify-center items-center gap-6">
        <button class="w-auto h-auto px-6 py-3 rounded-xl text-center text-sm text-white font-normal hover:cursor-pointer bg-gradient-to-tr from-[#FF4E8E] to-[#F78266]">Add a Project</button>
        <div class="w-auto h-auto flex flex-col justify-center p-[2px] rounded-xl hover:cursor-pointer bg-gradient-to-tr from-[#FF4E8E] to-[#F78266]">
            <div class="w-auto h-auto rounded-[10px] px-[22px] py-[10px] text-center text-sm text-black font-normal bg-white">Add a Project</div>
        </div>
    </div>

</div>
