<div class="w-full h-auto flex flex-col justify-start items-center gap-4 p-2">
    <div id="calender-header" class="w-full h-auto flex flex-row justify-between items-center">
        <h1 class="w-auto h-auto text-lg text-black font-semibold">
            {{months[monthInc]}}
        </h1>
        <div class="w-auto h-auto flex flex-row justify-center items-center gap-4">
            <lucide-angular (click)="preDates()"  [img]="leftArrowIcon" size="26" class=" text-zinc-500 group-hover:text-white hover:cursor-pointer" ></lucide-angular>
            <lucide-angular (click)="nextDates()" [img]="rightArrowIcon" size="26" class=" text-zinc-500 group-hover:text-white hover:cursor-pointer" ></lucide-angular>
        </div>
    </div>
    <div id="week-days" class="w-full h-auto grid grid-cols-7 items-center ">
        <p class="w-auto h-auto font-medium text-center text-xs text-black">Mon</p>
        <p class="w-auto h-auto font-medium text-center text-xs text-black">Tue</p>
        <p class="w-auto h-auto font-medium text-center text-xs text-black">Wed</p>
        <p class="w-auto h-auto font-medium text-center text-xs text-black">Thu</p>
        <p class="w-auto h-auto font-medium text-center text-xs text-black">Fri</p>
        <p class="w-auto h-auto font-medium text-center text-xs text-black">Sat</p>
        <p class="w-auto h-auto font-medium text-center text-xs text-black">Sun</p>
    </div>
    <div class="w-full h-auto flex flex-col justify-center items-center gap-4">
        <div class="w-full h-auto grid grid-cols-7 justify-center items-center gap-y-0">
            @for(day of daysArray ; track day ){
                @if(day.day===currentDateDay && monthInc==currentDateMonth){
                    <div class="w-full h-auto flex flex-col justify-center items-center">
                        <p class="w-9 h-9 flex flex-col justify-center items-center font-medium text-center text-base rounded-full text-white hover:cursor-pointer bg-[#5E2CFA]">{{day.day}}</p>
                    </div>
                }
                @else {
                    <div (click)="handelClick($index)" class="w-full h-auto flex flex-col justify-center items-center">
                        <p class="w-9 h-9 flex flex-col justify-center items-center font-medium text-center text-base text-black rounded-full hover:cursor-pointer"
                            [ngClass]="{'border border-[#5E2CFA]':(clickDay==$index)}"
                        >{{day.day}}</p>
                    </div>
                }
            }
        </div>
        
    </div>
</div>
